{% extends 'shop/basic.html' %}

{% block title %}{{product.product_name}}-My Awesome Cart{% endblock %}
{% block css %}{% endblock %}
{% block body %}
<div class="container my-4">
    <div class="row">
    <div class="col-md-4">
    <div class="row">
        <img src="/media/{{product.image}}" height="380px" width="280px">
    </div>
        <div class="row">
            <button type="button" class="btn btn-warning my-3 mx-3">Add to Cart</button>
            <button type="button" class="btn btn-warning my-3">Buy now</button>
        </div>
    </div>
    <div class="col-md-8">
        <h5>{{product.product_name}}</h5>
        <p><strong>MRP Rs. {{product.price}}</strong></p>
        <p>{{product.desc}}</p>
    </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>
	if(localStorage.getItem('cart') == null){
var cart = {};
}
else
{
cart = JSON.parse(localStorage.getItem('cart'));
document.getElementById('cart').innerHTML=Object.keys(cart).length;
}
var sum=0
var totalPrice=0
if ($.isEmptyObject(cart)){
	mystr=`<div class="boxed">
   <p><strong>Your Cart is Empty Mate.....<br>Please Buy something before checking out.....<br>Happy Shopping!!</strong></p>
</div>`
$('#items').append(mystr);
alert('Your Cart is Empty.');

}
else{
for(item in cart){
	let name=cart[item][1];
	let qty=cart[item][0];
	let itemPrice=cart[item][2];
	sum=sum+qty;
	totalPrice=totalPrice + qty* itemPrice
	mystr=`<li class="list-group-item d-flex justify-content-between align-items-center">
    ${name}
    <span class="badge bg-primary rounded-pill">${qty}</span>
  </li>`
$('#items').append(mystr);
}
}
document.getElementById('cart').innerHTML=sum;
document.getElementById('totalPrice').innerHTML=totalPrice;

$('#itemsJson').val(JSON.stringify(cart));
{% if thank %}
alert('Thanks for ordering with us. Your order is {{id}}. Use this to track your order using Tracker...');
localStorage.clear()
document.location="/shop/"
{% endif %}
</script>


{% endblock %}